<br>
<div class="login-form">
  <form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin)" novalidate>
  <h2 class="text-center">Sign In</h2>   
<div class="form-group" [ngClass]="{ 'has-error': userlogin.submitted && !username.valid }">
    <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="login.username" #username="ngModel" required>
      </div>
  </div>
<div class="form-group" [ngClass]="{ 'has-error': userlogin.submitted && !password.valid }">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="login.password" #password="ngModel" required>
      </div>
  </div>        
  <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
  </div>     
</form>
<div *ngIf="authMessage && authMessage!=''" class="alert alert-danger" ><b>{{authMessage}}</b></div>
</div>